# Supabase — copiar desde: supabase.com → proyecto → Settings → API
NEXT_PUBLIC_SUPABASE_URL=https://mcjxouuajmpokpuqzwhs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1janhvdXVham1wb2twdXF6d2hzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTUzNzMsImV4cCI6MjA4Nzg5MTM3M30.dA7-Fufwk6aLkZWxT8YmqfKxp9-Idj_gsNQ8hoXGMx0

# Solo para migraciones locales con Supabase CLI — NUNCA exponer al cliente
SUPABASE_SERVICE_ROLE_KEY=eeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1janhvdXVham1wb2twdXF6d2hzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjMxNTM3MywiZXhwIjoyMDg3ODkxMzczfQ.SVMUAgNsGbUs3TA7PdWm0CHodvxc4-we0WrvFHiMSS4
