@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo y texto base forzados en modo oscuro */
body {
  background-color: #0a0a0a;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

/* --- Scrollbar personalizado --- */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}
