@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Tema oscuro forzado (modo fijo) --- */
:root {
  --background: #0a0a0a; /* Fondo principal */
  --foreground: #ededed; /* Texto principal */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* --- Ajustes globales --- */
html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* --- Utilidad de equilibrio de texto --- */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* --- Estilos personalizados para barra de scroll --- */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gris medio */
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* gris más claro */
}
